main,
.ds-datatable-main {
		position: relative;
}
.ds-datatable-column-select {
	position: absolute;
	right: 2em;
	z-index: 101;
	background: transparent;
	border: 0;
}
.ds-dropdown-nav {
	border: 0;
	margin-top: 0.1rem;
}
.ds-datatable thead {
	z-index: 100;
}
.ds-datatable-scrollbar {
	position: absolute;
    top: 0;
    z-index: 0;
    width: 1px;
}
.ds-datatable-sticky-header thead {
    position: sticky;
    top: 0px;
    background-color: var(--ds-datatable-heading-contrast);
    transform: scale(0.9999999);
    background-clip: padding-box;
}
.ds-datatable-virtual-scroll {
	position: sticky;
	top: 0px;
	width: 100%;
	height: 100%;
}
